{{#each this}}
<li class="country-list__item">
    <div class="country-list__img">
        <img src="{{flags.svg}}" alt="" width="70" height="50">
    </div>
    <h1 class="country-list__title">{{name.official}}</h1>
    
</li>
{{/each}}